<ads>
  <div id="ads-filter-panel">
    <div id="view-mode">
      <ul>
        <li class="icon-thumbnails newpointer" id="tiles" ng-click="viewMode('tiles')"></li>
        <li class="icon-dropdown newpointer" id="listview" ng-click="viewMode('list')"></li>
      </ul>
    </div>
    <p class="list-headings" ng-click="allAds()">Show All</p>
    <p class="list-headings">Zones</p>
    <ul class="side-bar-panel zones">
      <li ng-repeat="zone in zones" ng-click="getUrls(zone, currcat)">{{zone.name}}</li>
    </ul>
    <p class="list-headings">Categories</p>
    <ul class="side-bar-panel categories">
      <li ng-repeat="category in categories" ng-click="getUrls(currzone, category)">{{category.name}}</li>
    </ul>
  </div>
  <div id="ads">
    <ul id="ads-list" class="tiles">
      <li ng-repeat="ad in ads" class="newpointer" ng-class="{automobiles: (ads.length > 0)}">
        <div id="image">
          <img src="{{ad.images[0]}}">
        </div>
        <div id="item-overlay"></div>
        <p>{{ad.title}}</p>
      </li>
    </ul>
  </div>
</ads>
