div(ng-app="dashboardApp" ng-init="env='#{environment}'")
	head
		//- Socket.io
		script(src="/dashboard/js/vendor/socketio.js")

		//- Angular and Angular-route
		script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js")
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js")

		//- Ng-animate
		script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-animate.js")

		//- Ng-storage
		script(type="text/javascript" src="/dashboard/js/vendor/ngStorage.min.js")
		
		//- Jquery
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")

		//- Load dashboardApp.js
		script(src="/dashboard/js/dashboardApp.js")

		//- Register
		script(src="/dashboard/js/controllers/registerController.js")
		//- Scrapers
		script(src="/dashboard/js/controllers/scrapersController.js")
		script(src="/dashboard/js/directives/scrapersDirective.js")
		link(rel="stylesheet" href="/dashboard/style/scrapers.css")

		//- Ads
		script(src="/dashboard/js/controllers/adsController.js")
		script(src="/dashboard/js/directives/adsDirective.js")
		link(rel="stylesheet" href="/dashboard/style/ads.css")

		//- Global 
		script(src="/dashboard/js/controllers/globalController.js")
		script(src="/dashboard/js/directives/globalDirective.js")
		link(rel="stylesheet" href="/dashboard/style/global.css")
		script(src="/dashboard/js/factories/socketfactory.js")
		script(src="/dashboard/js/services/authService.js")

		//- Moment
		script(src='/dashboard/js/vendor/moment.min.js')
		
		//- Open Sans Font
		link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,700,600,400' rel='stylesheet' type='text/css')
		link(href="https://fontastic.s3.amazonaws.com/ajkCKZcprWV8fCCd7UykoN/icons.css" rel="stylesheet")			

	body
		div#overlay(ng-style="theme")
		i(style="position:relative" class="icon-day daynight newpointer" ng-click="theme={'opacity':'0.1'}")
		i(style="position:relative" class="icon-night daynight newpointer" id="night" ng-click="theme={'opacity':'1','background':'#fd3c4e'}")
		i(style="position:relative" class="icon-logout newpointer" ng-click="logout()")		
		global
			div(ng-controller="globalController")
				button(ng-click="logout()" style="position:fixed; z-index: 1000000;") Logout
				div#lightning-blur(ng-click="hideFlash()")
				form#lightining(ng-submit="flashRequest()")
					span.icon-bolt-1
					h1 Flash Mode
					input#flashinput(type="text" ng-model="flash")
					img(src="https://s3.amazonaws.com/uploads.hipchat.com/27243/752569/0KnNYAf43ubHpTf/728.GIF")
				form#auth(ng-submit="login()")
					h1 Login
					input(type='text' ng-model='auth.username' placeholder="Username")
					input(type='password' ng-model='auth.password' placeholder="Password")
					button(type="submit" class="newpointer") Login
					p(ng-if="err === 'true'") {{loginerrmessage}}
					a#register-button(ng-click="tempRegister()") register
				div#status-section.hide-status
					ul#status-panels
						li#panel-one.lipanels
							h1#update-count {{count}}
							span Ads have been scraped
						li#panel-two.lipanels
							div.panel-heading
								h3 SCRAPE LIST	
							ul.status-list
								li.newpointer.animate-repeat(ng-repeat="item in list")
									p {{item.message}}
								p.empty(ng-if="list.length < 1") Nothing is qued up to scrape											
						li#panel-three.lipanels
							div.panel-heading
								h3 CATEGORIES SCRAPED
							ul.status-list
								li.newpointer.animate-repeat(ng-repeat="category in scrapeCats")
									p {{category.category}} in {{category.zone}}
								p.empty(ng-if="scrapeCats.length < 1") No Categories have been scraped.						
						li#panel-three.lipanels
							div.panel-heading
								h3 ADS
							ul.status-list
								li.newpointer.animate-repeat(ng-repeat="ad in scrapeAds")
									p {{ad.title}}
								p.empty(ng-if="scrapeAds.length < 1") No Ads have been scraped.								
					span.icon-cross-1.newpointer(ng-click="scraperStatus()")
					
					div#status-bar
						p.animate-status#current-status {{currentstatus}}
				div#global.normal-global
					div#route-nav
						ul
							a.newpointer#scrapers-nav-item(href="#/")
								li.icon-dashboard Scrapers
							a.newpointer#ads-nav-item(href="#/ads")
								li.icon-layout Ads
							a.newpointer#errors-nav-item
								li.icon-issue-opened Error Log												
					div#allicons
						a#menu-toggle.menu-toggle.newpointer(ng-click='sideBar()')
							span
						span.icon-eye.newpointer#status(ng-click="scraperStatus()")
							span#counter-notification(ng-if="count > 0") {{count}}
						span.icon-bolt-1.newpointer#quick(ng-click="flashMode()")
						span.icon-light-bulb.newpointer#idea
					div#nav.newpointer
						div#blur
						div#user.circle
						div#settings.circle
						div#logout.circle
					div#container(ng-view)

				